/* header:hover {
  opacity: 1;
  transition: opacity 0.5s;
} */

/* #downloadButton,
#interfaceButton {
  width: 15rem;
  height: 3.5rem;
  margin-top: 3rem;
  background: var(--orange);
  font-size: 18px;
  font-family: 'Molengo';
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#downloadButton:hover,
#interfaceButton:hover {
  background-color: var(--white);
  transition: all 0.5s;
} */

.blurred {
  filter: blur(5px);
  transition: filter 0.5s;
}

.blurred.visible {
  filter: blur(0);
}

.social-logo-1 {
  content: url('./assets/icons/fbLogo.png');
}

.social-logo-1:hover {
  content: url('./assets/icons/fbLogoOff.png');
}

.social-logo-2 {
  content: url('./assets/icons/instLogo.png');
}

.social-logo-2:hover {
  content: url('./assets/icons/instLogoOff.png');
}

.social-logo-3 {
  content: url('./assets/icons/twitLogo.png');
}

.social-logo-3:hover {
  content: url('./assets/icons/twitLogoOff.png');
}
