@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: rgb(255, 122, 0);
  --white: #f1f1f1;
  --blue: #484766;
  --greyText: #161616;
  --greyBg: #444;
  --red: #443333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Molengo', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
